
[submodule "submodules/lm-evaluation-harness"]
	path = submodules/lm-evaluation-harness
	url = git@github.com:EleutherAI/lm-evaluation-harness.git
[submodule "submodules/mase-dse"]
	path = submodules/mase-dse
	url = git@github.com:ChengZhang-98/mase-dse.git
	branch = functional
